.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* 導覽列背景色 */
  padding: 0.5rem 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ffcc00; /* 滑鼠經過變色 */
}
